<div class="layout-topbar">
    
    <a class="layout-topbar-logo" routerLink="/">
        <span>MyDuka</span>
    </a>

    <button pRipple  #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        
        <p-menu #profileMenu [model]="items" [popup]="true" ></p-menu>
      
        
        <button class="p-link layout-topbar-button" (click)="profileMenu.toggle($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
       
    </div>
 
</div>
